<% provide(:title, "About") %>
<h1><%=t"abouta"%></h1>
<p>
  <%=t"aboutthe"%> <a href="http://www.railstutorial.org/"><em><%=t"rubyonrails"%></em></a> <%=t"aboutis"%>
  <a href="http://www.railstutorial.org/book"><%=t"book"%></a> <%=t"and"%>
  <a href="http://screencasts.railstutorial.org/"><%=t"aboutscreen"%></a>
  <%=t"abouttoteach"%>
  <a href="http://rubyonrails.org/"><%=t"rubyonrail"%></a>.
  <%=t"thisissam"%>.
</p>