<% provide(:title, "Help") %>
<h1><%=t"helph"%></h1>
<p>
  <%=t"helpget"%>
  <a href="http://www.railstutorial.org/help"><%=t"helprails"%></a>.
  <%=t"helpto"%>
  <a href="http://www.railstutorial.org/book"><em><%=t"rubyonrails"%></em>
  <%=t"book"%></a>.
</p>